* {
    pad: 0;
    margin: 0;
    box-sizing: border-box;
}

body { 
    pad: 0;
    margin: 0;
    height: 100vh;
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
    overflow: hidden;
}

h2 {
    color: white;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
}

.year {
    font-size: 5em;
    color: white;
    font-weight: bold;
}

.countdown {
    margin: 40px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    width: 80%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    color: white;
    font-size: 2.5em;
    font-weight: 500;
    text-align: center;
}

.countdown div {
    margin-top: -70px;
    position: relative;
    display: flex;
    justify-content: center;
}

.countdown div:before {
    content: "";
    position: absolute;
    bottom: -70px;
    font-size: 0.6em;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.countdown #day:before {
    content: "Days";
}

.countdown #hour:before {
    content: "Hours";
}

.countdown #minute:before {
    content: "Minutes";
}

.countdown #second:before {
    content: "Seconds";
}